
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-3">

        {% for adress in abouts %}
          <div class="col-lg-3 col-md-6 d-flex">
            <i class="bi bi-geo-alt icon"></i>
            <div>
              <h4>Adresse</h4>
              <p>
              {{ adress.address|raw }}
              </p>
            </div>
          </div>
        {% endfor %}

        {% for reservation in abouts %}
          <div class="col-lg-3 col-md-6 footer-links d-flex">
            <i class="bi bi-telephone icon"></i>
            <div>
              <h4>Reservations</h4>
              <p>
                <strong>Phone:</strong> {{ '+243 ' ~  reservation.contact }}<br>
                <strong>Email:</strong> {{ reservation.email }}<br>
              </p>
            </div>
          </div>    
        {% endfor %}

        {% for openingHours in abouts %}
          <div class="col-lg-3 col-md-6 footer-links d-flex">
            <i class="bi bi-clock icon"></i>
            <div>
              <h4>Heures de travail</h4>
              <p>
                {{ openingHours.openingOurs|raw }}
              </p>
            </div>
          </div>
        {% endfor %}

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Suivez-nous </h4>
          <div class="social-links d-flex">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span> Kab's Famer</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/ -->
        {# Develop by <a href="https://bootstrapmade.com/">BootstrapMade</a> #}
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->
